@model Licenta_V0.Models.ArticleModels

<h2>Edit</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Article"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <br />
    @Html.Label("ArticleName", "Article Name")
    <br />
    @Html.EditorFor(m => m.ArticleName)
    @Html.ValidationMessageFor(m => m.ArticleName, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("AuthorName", "Author Name")
    <br />
    @Html.EditorFor(m => m.AuthorName)
    @Html.ValidationMessageFor(m => m.AuthorName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("ArticleDescription", "Article Description")
    <br />
    @Html.EditorFor(m => m.ArticleDescription)
    @Html.ValidationMessageFor(m => m.ArticleDescription, "", new { @class = "text-danger" })
    <br />
    @Html.Label("ArticleDate", "Article Date")
    <br />
    @Html.EditorFor(m => m.ArticleDate)
    @Html.ValidationMessageFor(m => m.ArticleDescription, "", new { @class = "text-danger" })
    <br />
    @Html.Label("ArticleText", "Article Text")
    <br />
    <div>
        @Html.EditorFor(m => m.ArticleText)
        @Html.ValidationMessageFor(m => m.ArticleText, "", new { @class = "text-danger" })

    </div>

    <br />
   

    <button class="btn btn-sm btn-success" type="submit">Add article</button>

}
