@model Licenta_V0.Models.ArticleModels
<h2>@Model.ArticleName</h2>

<div>@Model.ArticleDate</div>
<div>@Model.ArticleDescription</div>
<div>@Html.Raw(Model.ArticleText)</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.Id})
    @Html.ActionLink("Delete","Delete",new { Model.Id})
</div>