<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="mainCointainer">
    <div>@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "brandImg" })</div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Licenta_V0.Resources.MainNavbar.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Licenta_V0.Resources.MainNavbar.Contact, "Contact", "Home")</li>
                    <li>@Html.ActionLink(Licenta_V0.Resources.MainNavbar.Magazine, "Index", "Magazine")</li>
                    <li>@Html.ActionLink(Licenta_V0.Resources.MainNavbar.Articles, "Index", "Article")</li>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink(Licenta_V0.Resources.CategoryPage.CategoriesTitle,"Index","Category")</li>
                        <li>@Html.ActionLink(Licenta_V0.Resources.MainNavbar.Management, "Management", "Home")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
                <div class=" top-right pull-right">
                    @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, new { @class = "flagEnImg" })
                    @Html.ActionLink("Română", "Change", "Language", new { LanguageAbbrevation = "ro" }, new { @class = "flagRoImg" })
                </div>


            </div>
            
        </div>
        
    </div>
    <div class="container body-content" style="background-color:azure" >
        @RenderBody()
        <hr />
        <footer>
            <div class="redirectContainer">
                
            <form action="https://www.facebook.com/bratianu.science" >
                <input class="redirectToFacebook" type="submit" value="Go to Facebook" />
                
            </form>
            <form action="https://www.instagram.com/ssbratianu/">
                <input class="redirectToInstagram" type="submit" value="Go to Instagram" />
            </form>
            </div>
            
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
