@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink(Licenta_V0.Resources.MainNavbar.Users, "ShowUsers", "Account", null, null)</li>
        }

        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeHqM-drgOapLR5D1z7kLH7MnMjehtuJvADoGl8zWdlvklTYg/viewform">@Licenta_V0.Resources.MainNavbar.Register</a></li>
        @*<li>@Html.ActionLink(Licenta_V0.Resources.MainNavbar.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink(Licenta_V0.Resources.MainNavbar.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
